<div>
  before
</div>
<div >
<div [cdkContextMenuTriggerFor]="context_menu">
  <table id="container" #container class="ui-container">
    <thead>
    <tr>
      <th></th>
      <th *ngFor="let col of columns">{{ col }}</th>
    </tr>
    </thead>
    <tbody cdkDropListGroup>
        <tr *ngFor="let row of rows">
          <td class="rowsNumber">{{ row }}</td>
          <td *ngFor="let col of columns" class="ui-selectable">
          </td>
        </tr>
    </tbody>
  </table>
</div>
<div>
  after
</div>
  <ng-template #context_menu>
    <div class="example-menu" cdkMenu>
      <button class="example-menu-item" cdkMenuItem>Cut</button>
      <button class="example-menu-item" cdkMenuItem>Copy</button>
      <button class="example-menu-item" cdkMenuItem>Link</button>
    </div>
  </ng-template>
