@import "@angular/material/prebuilt-themes/indigo-pink.css";

/*
table {
  border-collapse: collapse;
  user-select: none; !* Standard syntax *!
  -webkit-user-select: none; !* Webkit/Blink browsers *!
  -moz-user-select: none; !* Gecko browsers *!
  -ms-user-select: none; !* Internet Explorer/Edge *!
}*/

.main {
  background-color: #1E1F26;
  padding: 8px 24px 8px 8px;
  border-radius: 5px;
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.6);
  width: fit-content;
  height: fit-content;
}


.ui-container {
  margin: 10px;
  overflow: auto;
}

.rowsNumber {
  padding: 8px;
  text-align: center;
  color: white;
  border: none;
}

th {
  text-align: center;
  color: white;
  border: none;
}

.ui-selectable {
  border: 1px solid red;
  padding: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
}

input[type="checkbox"] {
  transform: scale(2.5);
}

.reserved {
  cursor: not-allowed;
  opacity: 0.5;
}

.ui-selecting {
  background-color: red;
}

.ui-selected {
  background-color: green;
}

.ui-unselecting {
  background-color: blue;
}

.menu-link hr {
  font-size: 15px;
}

.example-menu {
  z-index: 10;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(#404040, 0.15);
  min-width: 180px;
  max-width: 280px;
}

.example-menu-item {
  cursor: pointer;
  border: none;

  margin: 3px;
  padding: 10px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  background-color: #fff;

  user-select: none;
  min-width: 64px;
  line-height: 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.example-menu-item:hover {
  background-color: #f1f3f7;
}
