table {
  border-collapse: collapse;
}

.seatmap {
  background-color: #1E1F26;
  padding: 8px 24px 8px 8px;
  border-radius: 5px;
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.6);
  width: fit-content;
  height: fit-content;
}

.rowsNumber {
  padding: 8px;
  text-align: center;
  color: white;
  border: none;
}

th {
  text-align: center;
  color: white;
  border: none;
}

td {
  border: 1px solid red;
  padding: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
}

input[type="checkbox"] {
  transform: scale(2.5);
}

.reserved {
  cursor: not-allowed;
  opacity: 0.5;
}

.highlighted {
  color: green;
  background-color: rosybrown;
}
