<div class="main">
  <div class="tableParamsInput">
    <input type="number" min="1" max="40" #rowBox (keyup.enter)="update(Number(rowBox.value), 'rowBox')"
           (blur)="update(Number(rowBox.value), 'rowBox')" placeholder="Count of rows">
    <input type="number" min="1" max="15" #colBox (keyup.enter)="update(Number(colBox.value), 'colBox')"
           (blur)="update(Number(colBox.value), 'colBox')" placeholder="Count of columns">
  </div>
  <div id="container" #container class="ui-container" [cdkContextMenuTriggerFor]="context_menu">
    <table>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let col of columns">{{ col }}</th>
        </tr>
      </thead>
      <tbody cdkDropListGroup>
      <tr *ngFor="let row of rows; let i = index;">

        <ng-container *ngIf="row !== -1; else emptyCell">
          <td class="rowsNumber">{{ row + 1 }}</td>
        </ng-container>
        <ng-template #emptyCell>
          <td></td>
        </ng-template>

        <td *ngFor="let col of columns; let j = index;" cdkDropList class="ui-selectable"
            (cdkDropListDropped)="onDrop($event, i, j)"
            [cdkDropListEnterPredicate]="canDrop(i, j)">
          <div (mousedown)="$event.stopPropagation()">
            <ng-container *ngIf="isSeat(i, j)">
              <ng-container *ngIf="isSeatReserved(i, j)">
                <input type="checkbox" class="reserved" checked disabled cdkDrag
                       (cdkDragStarted)="onDragStarted($event, i, j)">
              </ng-container>
              <ng-container *ngIf="!isSeatReserved(i, j)">
                <input type="checkbox" class="available" cdkDrag
                       (cdkDragStarted)="onDragStarted($event, i, j)">
              </ng-container>
            </ng-container>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #context_menu>
  <div class="example-menu" cdkMenu>
    <button class="example-menu-item" cdkMenuItem (click)="addNewSeatplaces()">Insert</button>
    <button class="example-menu-item" cdkMenuItem (click)="deleteSeatplaces()">Delete</button>
  </div>
</ng-template>
