.flights-container {
  margin: auto;
  width: fit-content;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  max-width: 800px;
  width: 100%;
  height: 45px;
  border: none;
  background-color: #252830;
  padding: .4em;

}

.icon-search {
  color: white;
  width: 48px;
  height: 48px;
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.flight-list {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  width: fit-content;
  margin: auto;
  padding: 0;
}

.flight-list li {
  width: fit-content;
  height: fit-content;
}

.create-flight {
  border: red dashed 3px;
  background-color: transparent;
}

.icon-new {
  width: 108px;
  height: 108px;
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.flight-list button {
  width: 270px;
  padding: 10px;
  margin: 10px;
  height: 170px;
  border-radius: 5px;
}

.flight-item {
  transition: all 0.3s ease;
  background-color: #1E1F26;
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.6);
  border: none;
}

.flight-item :hover {
  transform: scale(1.1);
}

.flight-item b {
  color: #e6edf3;
  font-size: 26px;
}

.flight-item p {
  color: #e6edf3;
  font-size: 20px;
  margin: 10px;
}
